*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    font-size: 62.5%;
    background-color: #a6e7d9;
    /* background-color: rgba(252, 225, 255, 1); */
    /* background-color: rgba(173, 232, 246, 0.5); */
}
/* body{
    background-color: #a6e7d9;
    background: rgba(2, 187, 147, 0.35);
} */
.navbar li{
    font-size: 1.6rem;
}
.frame{
    width: 100%;
    height: 20rem; /*change to auto once I fill out content?*/
    /*background: rgba(2, 187, 147, 0.35);*/
    background-size: cover;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    z-index: 99;
}
.navbar.sticky{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: #28a99e;
    z-index: 99;
}
.navbar ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.navbar ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
}
.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar.sticky ul li a{
    color: #fff;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #003da5;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
#logo-pos{
    z-index: 99;
    padding-left: 20px;
}
#logo-pos:hover{
    color: #003da5;
}
.logo{
    width: 15rem;
    cursor: pointer;
    position: relative;
}

.header{
    font-size: 6rem;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subheader{
    margin-top: 20px;
    text-decoration: underline;
    font-size: 3.6rem;
}








.description{
    width: 90%;
    margin-left: 10%;
    font-size: 2.7rem;
    line-height: 2.5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.smol{
    font-size: 1.3rem;
}
#enjp{
    position: fixed;
    text-align: right;
    bottom: 30px;
    right: 60px;
}
#enjp a{
    color: #fff;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
footer{
    width: 100%;
    background-color: #18181b;
    /*background-image: linear-gradient(to right,#010113,#09093f,#010112);*/
    background-size: cover;
    align-items: center;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: 1.7rem;
}
footer ul li{
    list-style: none;
    margin: 0 5px 20px;
}
footer ul li a{
    color: white;
}


.flex-box2{
    width: 80%;
    height: 80vh;
    background: linear-gradient(yellow, green);
    color: white;
    font-size: 2.5rem;
    text-align: center;
    line-height: 12rem;
    border-radius: 80px;
    margin: 20px;
}
.performancevid{
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.videoframe{
    margin: 40px 20px;
    aspect-ratio: 16 / 9;
    width: 45%;
    border-radius: 2rem;
}
.normButton{
    width: 20rem;
    padding: 1.5rem 0;
    text-align: center;
    margin: 2rem 1rem;
    border-radius: 2.5rem;
    font-weight: bold;
    border: 2px solid #009688;
    background: rgba(0,150,136,0.5);
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: +2;
}
.btspan{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.normButton:hover span{
    width: 100%;
}
.tos{
    font-family: sans-serif;
    font-size: 2rem;
    margin: 0 100px;
    padding-bottom: 100px;
    line-height: 2;
}
.tos ul{
    margin-left: 2em;
}
.hashsel{
    text-align: center;
}
.spacing{
    padding-bottom: 1em;
}
.indent{
    padding-left: 2em;
}
.hamburger{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    margin-right: 30px;
    margin-top: -5px;
    padding: 0;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #000b2b;
    padding-top: 200px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    top: 0;
}
.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 20rem;
    text-align: center;
    margin: 0 auto 25px;
    padding: 20px 16px;
    background-color: #40e0d0;
    border-radius: 30px;
    font-size: 2rem;
    font-weight: bold;

    color: #003da5;
    text-decoration: none;
}
.mobile-nav a:hover{
    background-color: #89d8d0;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

@media only screen and (min-width: 901px){
    .mobile-nav{
        display: none;
    }
    .hamburger{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    .navbar ul{
        display: none;
    }
    #enjp{
        right: 40px;
    }
}

/* <600px, 601px, 768px, 992px, 1200px> */

@media only screen and (max-width: 768px){
    .tos{
        margin: 0 60px;
    }
    .colorframe{
        width: 90%;
        margin-left: 5%;
    }
    .colorbox{
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 1000px){

}

@media only screen and (max-width: 1150px){
    .timeline{
        width: 80vw;
    }
    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before{
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%)
    }
    .videoframe{
        width: 90%;
    }
}