<IfModule mod_mime.c>
    AddEncoding gzip .gz
    AddEncoding gzip .js.gz
    AddEncoding gzip .data.gz
    AddEncoding gzip .wasm.gz
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(js\.gz|data\.gz|wasm\.gz)$">
        Header set Content-Encoding gzip
    </FilesMatch>
</IfModule>